{% extends 'base.html' %}
{% block title %}Cambiar Contraseña{% endblock %}
{% block content %}

    

<h1>Cambiar Contraseña</h1>
<br/><br/>

<div class="form-group">
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button class="btn btn-secondary">Cambiar Contraseña</button>
<br/><br/>
<ul>
    <li>Su contraseña no puede ser muy similar a su otra información personal.</li>
    
    <li>Su contraseña debe contener al menos 8 caracteres.</li>
    
    <li>Su contraseña no puede ser una contraseña de uso común.</li>
    
    <li>Tu contraseña no puede ser completamente numérica.</li>
</ul>
</div>





{% endblock %}